@{
	Layout = "~/Views/Shared/_LayoutUser.cshtml";
	ViewData["Title"] = "Мої товари";
}

<link rel="stylesheet" href="~/css/StyleForMainPage.css">

<div class="container">
    <div class="text-center">
            @{
                foreach (var product in DbObjects.Products.Where(c => c.userId == DbObjects.currentUser.id))
                {

                    <div class="card" style="width: 18rem;">
                    <a href="@Url.Action("SelectedProduct", "Products", new { product.id })" style="color: black; text-decoration: none;">
                            <img class="card-img-top" src="@product.image" alt="Фотографія продукту">
                            <div class="card-body">
                                <h4 class="card-title">@product.name</h4>
                            </div>
                        </a>
                    </div>

                }
            }
    </div>
</div>
